@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #1F2A2E;
    --color-primary-dull: #4A6C6F;
}

* {
    font-family: "Montserrat", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}

body {
    color: rgb(0, 0, 0);
    background-color: #F8F6F1;
}